@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-color: #ffffff;
    color: #333333;
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrap {
    width: 1000px;
    margin-left: 0;
    display: flex;
}

/* side */
.side {
    width: 200px;
    height: 650px;
}

.logo {}

.gnb {
    padding: 50px 10px;
    position: relative;
    z-index: 1;
}


.gnb.active::after {
    display: block;
}


.gnb > li {}

.gnb > li > a {
    display: block;
    padding: 20px;
    text-align: center;
}

.gnb > li:hover > a {
    color: coral;
    border: 1px solid coral;
}

.gnb ul {
    display: none;
    position: absolute;
    top: 20px;
    left: 180px;
    width: 80%;
    background-color: #ffffff;
    padding: 10px 0 100px 0;
}

.gnb ul li {}

.gnb ul li a {
    display: block;
    text-align: center;
    padding: 10px;
}

.gnb ul li:hover a {
    background-color: coral;
    color: #ffffff;
}



/* main */
.main {
    width: 800px;
}


/* slider */
.slider {
    height: 350px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.slide {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.slide img {
    width: 800px;
    height: 350px;
    display: block;
    object-fit: cover;
}




/* contents */
.contents {
    height: 200px;
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.contents div h3 {
    display: block;
    background-color: antiquewhite;
    height: 50px;
    width: 40%;
    text-align: center;
    line-height: 50px;
}

.notice {
    flex: 1;
    position: relative;
}

.notice ul {
    position: absolute;
    top: 50px;
    left: 0;
    height: 130px;
    width: 100%;
    padding: 6px;
    border-top: 1px solid antiquewhite;
}

.notice ul li {}

.notice ul li a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 4px;
}

.notice ul li:hover a {
    text-decoration: underline;
}


.gallery {
    flex: 1;
    position: relative;
}

.gallery ul {
    position: absolute;
    top: 50px;
    left: 0;
    height: 130px;
    width: 100%;
    border-top: 1px solid antiquewhite;
}

.gallery ul li {
    float: left;
    width: 32%;
    margin-top: 30px;
    margin-right: 4px;
}

.gallery ul li:last-child {
    margin-right: 0;
}

.gallery img {
    display: block;
    width: 80px;
    height: 50px;
}

.links {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
}

.links li a {
    display: block;
    text-align: center;
    border-radius: 5px;
    height: 100%;
    line-height: 86px;
    background-color:#eee;
}

.links li:hover a {
    background-color: coral;
    color: #ffffff;
}


/* footer */
.footer {
    height: 100px;
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.f_logo img {
    height: 80px;
}

.familySite a {
    display: block;
    background-color: #eee;
    margin: 6px;
    padding: 2px 16px;
    border-radius: 30px;
}

.familySite a:hover {
    background-color: antiquewhite;
}


/* modal */
#modal {
    width: 500px;
    height: 400px;
    background-color: aliceblue;
    border: 1px solid #333333;
    padding: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#modal.popUp {
    display: block;
}

#modal h3 {
    font-size: 36px;
}

#modal p {
    margin-top: 20px;
}

#modal .close{
    cursor: pointer;
    background-color: coral;
    height: 26px;
    width: 60px;
    color: #ffffff;
    text-align: center;
    line-height: 26px;
    position: absolute;
    bottom: 30px;
    right: 30px;
}